<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="lionn_ltheme" frontName="lionn_ltheme">
            <module name="Lionn_LTheme" />
        </route>
    </router>
</config>
