// Sobe o logo personalizado para evitar conflitos com as opções do menu logo abaixo...
.menu-wrapper .logo {
    transform: translateY(-10px);
}

// Logo Lionn - Menu Backend Painel do Admin
.menu-wrapper .logo .logo-img {
    width: 8rem !important;
    height: auto !important;
}
