ATENÇÃO:
NUNCA coloque um certificado real neste arquivo.
NUNCA envie ou faça commit de um certificado para o GitHub.

Este arquivo é apenas um exemplo.
Substitua este arquivo pelo seu certificado SOMENTE no ambiente local.

-----BEGIN CERTIFICATE-----

SEU_CERTIFICADO_AQUI

-----END CERTIFICATE-----
