{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p>
                {{trans "%customer_name gostaria de compartilhar esta lista de desejos da loja %store_name com você:" customer_name=$customerName store_name=$store.frontend_name}}
            </p>
        </td>
    </tr>
</table>

{{depend message}}
<table class="message-info">
    <tr>
        <td>
            <h3>{{trans "Mensagem de %customer_name:" customer_name=$customerName}}</h3>
            {{var message|raw}}
        </td>
    </tr>
</table>
<br />
{{/depend}}

{{var items|raw}}
<br/>

<table class="button -secondary" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td align="center">
                        <a href="{{var viewOnSiteLink}}" title="{{trans 'Ver todos os itens da lista de desejos'}}">{{trans "Ver todos os itens da lista de desejos"}}</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
